footer{
    width: 100%;
    height: 18vh;

    .contato{
        color: white;
        background-color: #005695;
        height: 12vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 35px;
        font-family: Inter;
        font-size: 16px;
        font-weight: 700;
        line-height: 19.36px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }

    .redesSociais{
        width: 20vw;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .rodape{
        background-color: #232020;
        color: #FFFFFFDB;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 8vh;
        font-family: Inter;
        font-size: 15px;
        font-weight: 700;
        line-height: 18.15px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
}