.explicativo{
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.05px;
    text-align: center;
    color: #000000;
    height: 5.4vh;
    margin-top: 20px;
}

.boxForms{
    margin-left: 35vw;
    margin-bottom: 5vh;
    border:solid #005695;
    border-radius: 15px;
    height: 75vh;
    width: 30.6vw;

}

.forms{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 7vh;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 22vw;
    height: 48vh;
    margin-top: 8vh;
    margin-left: 4vw;
}

.entrada{
    border: 2px solid #005695;
    width: 22vw;
    height: 5.6vh;
    border-radius: 15px;
    opacity: 0px;
    outline: none;
    padding-left: 20px;

    &::placeholder{
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 16.94px;
        text-align: left;
        color: #000000;
    }
}

.button{
    width: 10vw;
    height: 7vh;
    top: 709px;
    left: 623px;
    gap: 0px;
    border-radius: 10px;
    opacity: 0px;
    background-color: #005695;
    color: white;
}

@media (max-width: 900px) {
    main{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        gap: 20px;
        height: 110vh;
    }
    .explicativo{
        width: 500px;
        height: 10vh;
        font-size: 22px;
    }
    .boxForms{
        width: 390px;
        margin-bottom: 0;
        margin-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .entrada{
        width: 330px;
        padding-right: 20px;

        &::placeholder{
            font-size: 18px;
        }
    }
    .button{
        width: 120px;
        height: 7vh;
        top: 709px;
        left: 623px;
    }
    
}

@media (max-width: 500px) {
    main{
        height: 110vh;
    }
    .explicativo{
        width: 400px;
        height: 10vh;
        font-size: 22px;
    }
    .boxForms{
        width: 370px;
        margin-bottom: 0;
        margin-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .entrada{
        width: 310px;
        padding-right: 20px;

        &::placeholder{
            font-size: 18px;
        }
    }

}

@media (max-width: 420px) {
    main{
        height: 100vh;
    }
    .explicativo{
        width: 370px;
        height: 10vh;
        font-size: 18px;
    }
    .boxForms{
        width: 320px;
        margin-bottom: 0;
        margin-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .entrada{
        width: 260px;
        padding-right: 20px;

        &::placeholder{
            font-size: 18px;
        }
    }
}

@media (max-width: 380px) {
    main{
        height: 100vh;
    }
    .explicativo{
        width: 340px;
        height: 10vh;
        font-size: 18px;
    }
    .boxForms{
        width: 300px;
        margin-bottom: 0;
        margin-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .entrada{
        width: 240px;
        padding-right: 20px;

        &::placeholder{
            font-size: 15px;
        }
    }
}